@page "/growwidth/{userId}/{measurementPositionId}/{stringPackValue}/{pmachineIdd}/{fusMachineName}/{pshift}/create/measurementdimensions/defects"

@using LKDUS_UI.Models
@using LKDUS_UI.Static
@using LKDUS_UI.Contracts
@using System.Net.Http
@using LKDUS_UI.Service
@inject IMeasurementRepository repo
@inject NavigationManager navManager
@inject IMeasurementRepository measurementRepo
@inject IMachinesRepository machineRepository
@inject IAuthenticationRepository authRepo
@inject IPacksRepository packRepo
@inject IMeasurementTypeRepository measurementTypeRepository
@inject IJSRuntime JsRuntime
@inject ToastService toastService
<style>
    .button {
        width: 100%;
        height: 100%;
    }

    .btn-success:active {
        color: #ffffff !important;
        background-color: #161617;
        border-color: #494F57;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" @onclick="@Return" class="btn btn-primary btn-block">Atpakaļ</button>
        </div>
        <div class="col w-25"><h3  style="text-align: center; " class="card-title">Defekti</h3></div>
        <div class="col">
            <button type="submit" @onclick="@SaveMeasurement" class="btn btn-primary btn-block">Saglabāt</button>
        </div>

    </div>
</div>
<div class="container">

    <div class="row">

        @*<div class="col">

            <button type="button" style="background-color:@colorBgP1" @onclick=" " class="btn btn-outline-secondary btn-block">
                <h4>4 pēdas</h4>

            </button>

        </div>*@




    </div>
    @if (isTypeCklicked)
    {




        <div class="row">



            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>

                                        <th scope="col">Defekta veids</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>Pārklājums</td>
                                     

                                        <td>
                                            <button type="button" @onclick="e=>select(0,+1)" class="btn  btn-danger h-33 w-33">+</button>
                                            <input readonly value=@positions[0]>
                                            <button type="button" @onclick="e=>select(0,-1)" disabled="@isDisabledMinus[0]" class="btn btn-success  h-33 w-33">-</button>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>Sakrokojies finieris</td>

                                        <td>
                                            <button type="button" @onclick="e=>select(1,+1)" class="btn  btn-danger h-33 w-33">+</button>
                                            <input readonly value=@positions[1]>
                                            <button type="button" @onclick="e=>select(1,-1)" disabled="@isDisabledMinus[1]"  class="btn btn-success  h-33 w-33">-</button>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>Atkritumi zem diega</td>

                                        <td>
                                            <button type="button" @onclick="e=>select(2,+1)" class="btn  btn-danger h-33 w-33">+</button>
                                            <input readonly value=@positions[2]>
                                            <button type="button" @onclick="e=>select(2,-1)" disabled="@isDisabledMinus[2]" class="btn btn-success  h-33 w-33">-</button>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>Mizas ieaugums</td>

                                        <td>
                                            <button type="button" @onclick="e=>select(3,+1)" class="btn  btn-danger h-33 w-33">+</button>
                                             <input readonly value=@positions[3]> 
                                             <button type="button" @onclick="e=>select(3,-1)" disabled="@isDisabledMinus[3]" class="btn btn-success  h-33 w-33">-</button>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>Līmējuma kvalitāte</td>

                                        <td>
                                            <button type="button" @onclick="e=>select(4,+1)" class="btn  btn-danger h-33 w-33"> +</button>
                                            <input readonly value=@positions[4]>
                                            <button type="button" @onclick="e=>select(4,-1)" disabled="@isDisabledMinus[4]" class="btn btn-success  h-33 w-33">-</button>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>Plaisas</td>

                                        <td>
                                            <button type="button" @onclick="e=>select(5,+1)" class="btn  btn-danger h-33 w-33"> +</button>
                                            <input readonly value=@positions[5]> 
                                            <button type="button" @onclick="e=>select(5,-1)" disabled="@isDisabledMinus[5]" class="btn btn-success  h-33 w-33">-</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>





        </div>








    }
    else
    {
        <LoadingMessage Message="Izvēlies izmēru lai sāktu mērījumu"></LoadingMessage>
    }







</div>




@code {
    int selecteSizeType = 0;
    


    public string colorBgP1 = "white";
    public string colorBgP2 = "white";
    public string colorBgP3 = "white";
    public string colorBgP4 = "white";
    public string colorBgP5 = "white";
    public string colorBgP6 = "white";
    public string colorBgP7 = "white";
    [Parameter]
    public string userId { get; set; }
    [Parameter]
    public string measurementPositionId { get; set; }
    [Parameter]
    public string stringPackValue { get; set; }
    [Parameter]
    public string pmachineIdd { get; set; }
    [Parameter]
    public string fusMachineName { get; set; }
    [Parameter]
    public string pshift { get; set; }
    private IList<Measurement> Model2;

    public bool isTypeCklicked = true;

    private string[,] currentElement = new string[10, 2];
    protected async override Task OnInitializedAsync()
    {
        Model2 = await this.repo.Get(Endpoints.MeasurementEndpoint);
        ModelPacks = await this.packRepo.Get(Endpoints.PacksEndpoint);





    }




    bool[] isDisabledMinus = new bool[6];



    private void select(int index, int valuetoadd)
    {

        for (int i = 0; i < positions.Length; i++)
        {
            if (i == index)
            {
                if (positions[i] >= 0)
                {
                    positions[i] = positions[i] + valuetoadd;


                }
                if (positions[i] == 0)
                {
                    isDisabledMinus[i] = true;
                    break;
                }else
                {
                    isDisabledMinus[i] = false;
                }
            }
        }

    }

    private ElementReference input1;
    [Inject] IJSRuntime JSRuntime { get; set; }



    private int[] positions = new int[6];
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            for (int i = 0; i < positions.GetLength(0); i++)
            {

                positions[i] = 0;
                isDisabledMinus[i] = true;
            }
        }

    }
    int lastRow1;
    int lastRow2;
    string colorBg1;
    string colorBg2;






    private async void Return(MouseEventArgs e)
    {
        if (isSuccess && isPackCreated)
        {
            this.navManager.NavigateTo($"/growwidth/{userId}/{measurementPositionId}/create");
        }
        else
        {

            bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Tiešām vēlies iziet nesaglabājot?");
            if (confirmed)
            {
                this.navManager.NavigateTo($"/growwidth/{userId}/{measurementPositionId}/create");
            }
        }

    }

    bool isSuccess = false;
    bool isPackCreated = false;
    MeasurementType mt = new MeasurementType();

    private IList<Pack> ModelPacks;
    private async void SaveMeasurement()
    {
        int packId = int.Parse(stringPackValue);
        mt = await measurementTypeRepository.Get(Endpoints.MeasurementTypeEndpoint, 1015);
        String measurementDateAndTime = DateTime.Now.ToString("g");

        DateTime shiftTimeStart = Convert.ToDateTime("07:00:00");

        DateTime shiftTimeEnd = Convert.ToDateTime("19:00:00");

        DateTime currentMeasurement = Convert.ToDateTime(measurementDateAndTime);


        int shift = 1;

        if (DateTime.Compare(currentMeasurement, shiftTimeStart) >= 0 && DateTime.Compare(currentMeasurement, shiftTimeEnd) < 0)
        {
            shift = 1;
        }

        if (DateTime.Compare(currentMeasurement, shiftTimeStart) < 0 && DateTime.Compare(currentMeasurement, shiftTimeEnd) >= 0)
        {
            shift = 2;
        }
        if (pshift != shift.ToString())
        {
            shift = int.Parse(pshift);
        }
        //var pid = ModelPacks.Max(el => el.Id) + 1;

        IList<Measurement> measurementsToCreate = new List<Measurement>();
        Pack pack = new Pack();
        Machine machine = new Machine();
        // machine = await machineRepository.Get(Endpoints.MachinesEndpoint, int.Parse(pmachineIdd));//m achine.Id);
        LoginModel user = new LoginModel();
        user = await authRepo.Get(Endpoints.AspUsersEndpoint, userId);
        pack.DateCreated = DateTime.Parse(measurementDateAndTime);
        pack.MeasurementTypeName = mt.Name;
        pack.DimensionId = selecteSizeType;

        pack.Machine = fusMachineName;
        //   pack.Machine = "Plūsmas";

        pack.FusCode = stringPackValue;
        pack.Shift = shift;
        pack.Author = user.UserName;

        var packToCreate = packRepo.CreateObjectAndReturnId(Endpoints.PacksEndpoint, pack);
        string packStringResult = packToCreate.Result.ToString();

        string firstString = "id";
        string lastString = ",";

        int pos1 = packStringResult.IndexOf(firstString);
        int pos2 = packStringResult.IndexOf(lastString);

        string final = packStringResult.Substring(pos1, pos2 - pos1);

        string[] elements = final.Split(':');






        //   isPackCreated = await packRepo.Create(Endpoints.PacksEndpoint, pack);


        Measurement meas = new Measurement();
        meas.DateCreated = DateTime.Parse(measurementDateAndTime);
        // var packId = ModelPacks. Max(el => el.Id) + 1;
        meas.Shift = shift;
        // meas.MachineName = int.Parse(pmachineIdd); //machine.Id;'
        meas.MachineName = fusMachineName;

        meas.UserId = userId;
        meas.MeasurementPositionId = int.Parse(measurementPositionId);
        meas.FusPackId = packId;
        meas.MeasurementTypeId = 1015;
        ;
        meas.PackId = int.Parse(elements[1]);

        meas.Measurement1 = Convert.ToDecimal(positions[0]);
        meas.Measurement2 = Convert.ToDecimal(positions[1]);
        meas.Measurement3 = Convert.ToDecimal(positions[2]);
        meas.Measurement4 = Convert.ToDecimal(positions[3]);
        meas.Measurement5 = Convert.ToDecimal(positions[4]);
        meas.Measurement6 = Convert.ToDecimal(positions[5]);





        isSuccess = await measurementRepo.Create(Endpoints.MeasurementEndpoint, meas);





        if (packToCreate != null && isSuccess)
        {
            isPackCreated = true;
            toastService.ShowToast("Mērījuma dati saglabāti", ToastLevel.Success);
            this.navManager.NavigateTo($"/growwidth/{userId}/{measurementPositionId}/create");
        }
    }
}













