@page "/growlong/{userId}/{measurementPositionId}/{stringPackValue}/{pmachineIdd}/{fusMachineName}/{pshift}/create/thickness"

@using LKDUS_UI.Models
@using LKDUS_UI.Static
@using LKDUS_UI.Contracts
@using System.Net.Http
@using LKDUS_UI.Service


@inject NavigationManager navManager

@inject IMeasurementRepository measurementRepo;
@inject IMachinesRepository machineRepository
@inject IMeasurementTypeRepository measurementTypeRepository;
@inject IMeasurementRangeRepository measurementRangeRepo
@inject IPacksRepository packRepo
@inject IAuthenticationRepository authRepo
@inject IMeasurementTypeRepository measTRepo
@inject IJSRuntime JsRuntime
@inject ToastService toastService
<style>

    .table-scroll {
        display: block;
    }

        .table-scroll thead {
            background-color: #f1f1f1;
            position: relative;
            display: block;
            width: 100%;
        }

        .table-scroll tbody {
            display: block;
            position: relative;
            width: 100%;
            overflow-y: scroll;
        }

        .table-scroll tr {
            width: 100%;
            display: flex;
        }

        .table-scroll td, .table-scroll th {
            flex-basis: 100%;
            flex-grow: 2;
            display: block;
            padding: 5px;
            text-align: left;
        }

        /* Other options */

        .table-scroll.small-first-col td:first-child,
        .table-scroll.small-first-col th:first-child {
            flex-basis: 20%;
            flex-grow: 1;
        }

        .table-scroll tbody tr:nth-child(2n) {
            background-color: rgba(130,130,170,0.1);
        }

        .table-scroll tfoot {
            background-color: #f1f1f1;
            position: relative;
            display: block;
            width: 100%;
        }

    .body-half-screen {
        max-height: 35vh;
    }
</style>



<style>
    #row1 {
        padding: 20px 20px 20px 20px;
        overflow: hidden;
    }

    .button-container {
        display: flex;
        /* displays flex-items (children) inline */
        justify-content: space-between;
        /* MDN: The items are evenly distributed within the alignment container along the main axis. The spacing between each pair of adjacent items is the same. */
        align-items: center;
        /* centers them vertically */
    }



    #back {
        background-color: #1b6ec2;
        color: white;
        padding: 25px;
        text-align: center;
    }

    #save {
        background-color: #1b6ec2;
        color: white;
        padding: 25px;
        text-align: center;
    }
</style>


<div id="row1">
    <div class="button-container">
        <span class="button-left" @onclick="@GoToCreation">
            <h1><a id="back">Atpakaļ</a></h1>
        </span>
        <span>
            <h1>Biezums</h1>
        </span>
        <span style="visibility:visible" @onclick="@SaveMeasurement" class="button-right">
            <h1><a id="save">Saglabāt</a></h1>
        </span>
    </div>
</div>

<div>

    <!--<div class="container">
        <div class="row">

            <div class="col">
                <button type="button" @onclick="@GoToCreation" class="btn btn-primary btn-block">Atpakaļ</button>
            </div>
            <div class="col w-25"><h3 class="card-title">Biezums</h3></div>-->
            @*@if (!isTypeCklicked)
                {<div class="col">

                    </div>
                }
                else*@

            <!--<div class="col">
                <button type="submit" @onclick="@SaveMeasurement" class="btn btn-primary btn-block">Saglabāt</button>
            </div>


        </div>
    </div>-->

    @if (isTypeCklicked)
    {



        <div class="form-group">

            <table class="table-scroll  ">
                <thead>
                    <tr>
                        <th class="text-center">Nr.p.k.</th>
                        <th class="text-center">Pirms šuves</th>
                        <th class="text-center">Šuves</th>
                        <th class="text-center">Pēc šuves</th>
                        <th class="text-center">Loksnes vidējais</th>
                        <th class="text-center">Šuves starpība ar loksnes vidējo</th>
                    </tr>
                </thead>
                <tbody class="body-half-screen">


                    @if (sizesArray != null)
                    {
                        for (int i = 0; i < sizesArray.GetLength(0); i++)
                        {

                            int tmp = i;
                            var rowNumber = i + 1;
                            //id="@tmp"
                            @* OLD<div id="@currentRow[i]">
                                    <tr tabindex="1" id="@rows[i]" style="background-color: @Background[i]" @onclick="(e => HighlightSelected1(tmp))">

                                        <td class="text-center" scope="row">
                                            @rowNumber

                                        </td>

                                        @for (int j = 0; j < sizesArray.GetLength(1); j++)
                                        {
                                            <td style="background-color: @highlight2"
                                                class="text-center">
                                                @sizesArray[i, j]
                                            </td>


                                        }
                                    </tr>@onclick="(e => HighlightSelected1(tmp))"
                                </div>*@
                            <tr>
                                <td class="text-center" scope="row">@rowNumber</td>
                                @for (int j = 0; j < sizesArray.GetLength(1); j++)
                                {
                                    int tmpx = i;
                                    int tmpj = j;

                                    if (j < sizesArray.GetLength(1) - 2)
                                    {

                                        <td class="text-center" @onclick="(e => HighlightSelected(tmpx,tmpj))"
                                            style="background-color: @colors[i,j]" id="@idsForCells[i,j]">
                                            @sizesArray[i, j]
                                        </td>

                                    }
                                    else
                                    {
                                        <td class="text-center"
                                            id="@idsForCells[i,j]">
                                            @sizesArray[i, j]
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    }


                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-center">Vid.:</td>
                        <td class="text-center">
                            <div style="background-color:@colorBg2">
                                <span class="badge badge-info">@avg1</span>
                                @*<br />
                                    <span class="badge badge-light">
                                        @sizesArray[@actPosRow, @actPosCol]
                                        @rowPositionValues[0]

                                    </span>*@
                            </div>
                        </td>
                        <td class="text-center">
                            <div style="background-color:@colorBg2;">
                                <span class="badge badge-info">@avg2</span>
                                @*<br />
                                    <span class="badge badge-light">
                                    @sizesArray[@actPosRow,@actPosCol]
                                    @rowPositionValues[1]</span>*@
                            </div>
                        </td>
                        <td class="text-center">
                            <div type="button" style="background-color:@colorBg3;">
                                <span class="badge badge-info">@avg3</span>
                                @*<br />
                                    <span class="badge badge-light">
                                    @sizesArray[@actPosRow, @actPosCol]
                                    @rowPositionValues[2]
                                    </span>*@
                            </div>
                        </td>
                        <td class="text-center">
                            <div>
                                <span class="badge badge-info"></span>

                            </div>
                        </td>
                        <td class="text-center">
                            <div>
                                <span class="badge badge-info"></span>

                            </div>
                        </td>
                    </tr>



                </tfoot>
            </table>
        </div>



        <div class="container">




        </div>





        <div class="container">

            <div class="d-flex justify-content-between">
                <button type="button" @onclick="Reduce" disabled="@visibilitystatus" style="color:deeppink" class="btn btn-secondary btn-lg">-</button>
                <table class="table table-bordered table-bordered">
                    <tbody>
                        <tr class="text-center">

                            <td><button type="button" @onclick="(()=>select(sizes[0]))" class="btn btn-info btn-lg btn-block">@sizes[0]</button></td>
                            <td><button type="button" @onclick="(()=>select(sizes[1]))" class="btn btn-info btn-lg btn-block">@sizes[1]</button></td>
                            <td><button type="button" @onclick="(()=>select(sizes[2]))" class="btn btn-info btn-lg btn-block">@sizes[2]</button></td>

                        </tr>
                        <tr class="text-center">
                            <td><button type="button" @onclick="(()=>select(sizes[3]))" class="btn btn-info btn-lg btn-block">@sizes[3]</button></td>
                            <td><button type="button" @onclick="(()=>select(sizes[4]))" class="btn btn-info btn-lg btn-block">@sizes[4]</button></td>
                            <td><button type="button" @onclick="(()=>select(sizes[5]))" class="btn btn-info btn-lg btn-block">@sizes[5]</button></td>
                        </tr>
                        <tr class="text-center">
                            <td><button type="button" @onclick="(()=>select(sizes[6]))" class="btn btn-info btn-lg btn-block">@sizes[6]</button></td>
                            <td><button type="button" @onclick="(()=>select(sizes[7]))" class="btn btn-info btn-lg btn-block">@sizes[7]</button></td>
                            <td><button type="button" @onclick="(()=>select(sizes[8]))" class="btn btn-info btn-lg btn-block">@sizes[8]</button></td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" style="color:lawngreen" @onclick="Add" class="btn btn-secondary btn-lg">+</button>
            </div>

        </div>
    }
    else
    {
        <LoadingMessage Message="Izvēlies iekārtu lai sāktu mērījumu"></LoadingMessage>
    }
</div>


@code {

    public string colorBgP1 = "white";
    public string colorBgP2 = "white";
    public string colorBgP3 = "white";
    public string colorBgP4 = "white";
    public bool isTypeCklicked = true;
    public string colorBg1 = "white";
    public string colorBg2 = "white";
    public string colorBg3 = "white";
    public string colorBg4 = "white";

    public string[] rows = new string[10];


    private decimal[,] sizesArray = new decimal[10, 5];
    public string[,] colors = new string[10, 5];

    public async void focustoDiv(int i)
    {
        await JsRuntime.InvokeVoidAsync("blazorHelpers.scrollToFragment", "currentRow" + i);

    }


    static bool isEdit = true;
    string editPosition = "";
    int isNotEmptyLines = 1;

    private void HighlightSelected(int a, int b)
    {

        for (int i = 0; i < colors.GetLength(0); i++)
        {

            for (int j = 0; j < colors.GetLength(1); j++)
            {

                if (sizesArray[i, j] < mr.FormatMin || sizesArray[i, j] > mr.FormatMax && sizesArray[i, j] != 0)
                {
                    colors[i, j] = "#F99B28";
                }
                else
                {
                    colors[i, j] = "";

                }
            }
        }



        isEdit = true;
        for (int i = 0; i < colors.GetLength(0); i++)
        {

            for (int j = 0; j < colors.GetLength(1); j++)
            {
                if (i == a && b == j)
                {
                    colors[i, j] = "yellow";
                    editPosition = "cell" + i + j;

                }
                else
                {
                    colors[i, j] = "";
                }
                if (idsForCells[i, j] == activePosition)
                {
                    activePosition = "cell" + i + j;
                    colors[i, j] = "red";
                    break;
                }
            }
        }

    }

    int selecteSizeType = 0;
    int selectionType = 0;
    string activePosition = "";

    [Parameter]
    public string userId { get; set; }
    [Parameter]
    public string pshift { get; set; }
    [Parameter]
    public string measurementPositionId { get; set; }
    [Parameter]
    public string stringPackValue { get; set; }
    [Parameter]
    public string pmachineIdd { get; set; }
    [Parameter]
    public string fusMachineName { get; set; }


    Machine machine = new Machine();




    private string[] Background { get; set; } = new string[10];

    private async void HighlightSelected1(int i)
    {
        current = "";
        int a = i;
        actPosRow = i;
        current = "current" + i;
        for (int r = 0; r < Background.GetLength(0); r++)
        {
            if (r == i)
            {
                Background[r] = "yellow";

            }
            else
            {
                Background[r] = "";
            }
        }
        //  await JsRuntime.InvokeAsync<object>("Alert", current);
    }



    private string highlight1 { get; set; } = "";
    private string highlight2 { get; set; } = "";
    private string highlight3 { get; set; } = "";
    private string highlight4 { get; set; } = "";


    private string[,] idsForCells = new string[10, 5];
    bool down = false;
    bool right = true;
    bool up = false;
    bool left = false;
    decimal avg1 = 0;

    private IList<MeasurementRange> Ranges;
    MeasurementRange mr = new MeasurementRange();

    decimal avg2 = 0;
    decimal avg3 = 0;
    private async void select(decimal value)
    {



        if (isEdit)
        {
            for (int i = 0; i < idsForCells.GetLength(0); i++)
            {


                for (int j = 0; j < idsForCells.GetLength(1) - 3; j++)
                {




                    if (idsForCells[i, j] == editPosition)
                    {
                        sizesArray[i, j] = value;



                        sizesArray[i, 3] = ((sizesArray[i, 0] + sizesArray[i, 2]) / 2);
                        sizesArray[i, 3] = Math.Round(sizesArray[i, 3], 2);

                        sizesArray[i, 4] = sizesArray[i, 1] - sizesArray[i, 3];
                        sizesArray[i, 4] = Math.Round(sizesArray[i, 4], 2);

                        decimal sum1 = 0;
                        decimal sum2 = 0;
                        decimal sum3 = 0;
                        for (int a = 0; a < sizesArray.GetLength(0); a++)
                        {


                            sum1 = sum1 + sizesArray[a, 0];
                            sum2 = sum2 + sizesArray[a, 1];
                            sum3 = sum3 + sizesArray[a, 2];

                        }


                        avg1 = Math.Round(sum1 / isNotEmptyLines, 2);
                        avg2 = Math.Round(sum2 / isNotEmptyLines, 2);
                        avg3 = Math.Round(sum3 / isNotEmptyLines, 2);


                    }

                }
            }

            isEdit = false;


        }
        else
        {

            if (selecteSizeType == 1)
            {

                for (int i = 0; i < idsForCells.GetLength(0); i++)
                {
                    for (int j = 0; j < idsForCells.GetLength(1); j++)
                    {

                        if (sizesArray[i, j] < mr.FormatMin || sizesArray[i, j] > mr.FormatMax && sizesArray[i, j] != 0)
                        {
                            colors[i, j] = "#F99B28";
                        }
                        else
                        {
                            colors[i, j] = "";

                        }

                        // colors[i, j] = "";
                        if (idsForCells[i, j] == activePosition)
                        {
                            sizesArray[i, j] = value;
                            sizesArray[i, 3] = ((sizesArray[i, 0] + sizesArray[i, 2]) / 2);
                            sizesArray[i, 3] = Math.Round(sizesArray[i, 3], 2);

                            sizesArray[i, 4] = sizesArray[i, 1] - sizesArray[i, 3];
                            sizesArray[i, 4] = Math.Round(sizesArray[i, 4], 2);


                            decimal sum1 = 0;
                            decimal sum2 = 0;
                            decimal sum3 = 0;
                            for (int a = 0; a < sizesArray.GetLength(0); a++)
                            {


                                sum1 = sum1 + sizesArray[a, 0];
                                sum2 = sum2 + sizesArray[a, 1];
                                sum3 = sum3 + sizesArray[a, 2];

                            }
                            avg1 = Math.Round(sum1 / isNotEmptyLines, 2);
                            avg2 = Math.Round(sum2 / isNotEmptyLines, 2);
                            avg3 = Math.Round(sum3 / isNotEmptyLines, 2);
                            if (
           sizesArray[i, 0] != 0 &&
           sizesArray[i, 1] != 0 &&
           sizesArray[i, 2] != 0 && isNotEmptyLines < sizesArray.GetLength(0)
           )
                            {
                                isNotEmptyLines = isNotEmptyLines + 1;




                            }

                            if (j < idsForCells.GetLength(1) - 3)
                            {
                                j++;
                                activePosition = "cell" + i + j;

                            }
                            else
                            {
                                j = 0;
                                i++;

                                if (i == idsForCells.GetLength(0))
                                {
                                    return;
                                }
                                activePosition = "cell" + i + j;
                            }
                            activePosition = "cell" + i + j;
                            colors[i, j] = "red";
                            return;
                        }


                    }
                }






            }
        }








    }

    private string posToFocusOn = "";
    public async void focusToNext()
    {

        //for (int i = 0; i < idsForCells.GetLength(0); i++)
        //{
        //    for (int j = 0; j < idsForCells.GetLength(1); j++)
        //    {
        //        if (activePosition == idsForCells[i, j] && i > 5)
        //        {

        //            posToFocusOn = idsForCells[i - 5, j];
        //        }
        //    }
        //}

        //if (selecteSizeType == 1)
        //{
        //    if (idsForCells[5, 2] == activePosition)
        //    {
        //        posToFocusOn = idsForCells[0, 0];
        //    }

        //    await JsRuntime.InvokeVoidAsync("blazorHelpers.scrollToFragment", posToFocusOn);

        //}




    }

    private void setPos(int i)
    {

        // Color = Color == "red" ? "green" : "red";
        actPos = i;
        actPosCol = i;

        if (i == 0)
        {
            colorBg1 = "red";
            colorBg2 = "";
            colorBg3 = "";
        }
        else if (i == 1)
        {
            colorBg1 = "";
            colorBg2 = "red";
            colorBg3 = "";
        }
        else if (i == 2)
        {
            colorBg1 = "";
            colorBg2 = "";
            colorBg3 = "red";
        }

        //actPosCol
    }

    private string Color { get; set; } = "red";
    private IList<Measurement> Model2;

    private int actPos;


    private int actPosCol;
    private int actPosRow;


    private decimal[] sizes = new decimal[9];


    private decimal start = 1.3m;

    private decimal selectedValue;
    private decimal[] rowPositionValues = new decimal[3];
    private decimal positionValue;


    public List<decimal> range = new List<decimal>();

    int machineId;
    //   Machine mach = new Machine();
    string current = "current";

    MeasurementType mt = new MeasurementType();


    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {



            for (int i = 0; i < colors.GetLength(0); i++)
            {
                for (int j = 0; j < colors.GetLength(1); j++)
                {
                    colors[i, j] = "";
                }
            }
            activePosition = "cell00";
            colors[0, 0] = "red";

            isTypeCklicked = true;

            selecteSizeType = 1;
        }
    }

    protected async override Task OnInitializedAsync()
    {
        Ranges = await this.measurementRangeRepo.Get(Endpoints.MeasurementRangeEntpoint);
        mr = Ranges.Where(e => e.Id.Equals(27)).FirstOrDefault();

        ModelPacks = await this.packRepo.Get(Endpoints.PacksEndpoint);

        machineId = int.Parse(pmachineIdd);



        int startValuesOfMeasurement = 0;
        for (int i = 0; i < sizesArray.GetLength(0); i++)
        {

            for (int j = 0; j < sizesArray.GetLength(1); j++)
            {

                sizesArray[i, j] = startValuesOfMeasurement;
            }
        }

        for (int i = 0; i < sizes.Length; i++)
        {

            sizes[i] = start;
            start = start + 0.01m;
        }



        for (int i = 0; i < idsForCells.GetLength(0); i++)
        {
            for (int j = 0; j < idsForCells.GetLength(1); j++)
            {
                idsForCells[i, j] = "cell" + i + j;
            }
        }

        for (int i = 0; i < rows.Length; i++)
        {
            rows[i] = "current" + i;
        }

        mt = await measurementTypeRepository.Get(Endpoints.MeasurementTypeEndpoint, 1012);//measPositionRepo.Get(Endpoints.MeasurementPositions, result);
    }


    private void OpenCreateForm(MouseEventArgs e)
    {

        this.navManager.NavigateTo($"/growlong/{userId}/{measurementPositionId}/create");
    }

    private async void GoToCreation(MouseEventArgs e)
    {
        if (isSuccess && isPackCreated)
        {
            this.navManager.NavigateTo($"/growlong/{userId}/{measurementPositionId}/create");
        }
        else
        {

            bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Tiešām vēlies iziet nesaglabājot?");
            if (confirmed)
            {
                this.navManager.NavigateTo($"/growlong/{userId}/{measurementPositionId}/create");
            }
        }
        // this.navManager.NavigateTo($"/measurements/{userId}/{measurementPositionId}/create");
    }


    private IList<Pack> ModelPacks;
    bool isSuccess = false;
    bool isPackCreated = false;
    private async void SaveMeasurement()
    {
        //var pid = ModelPacks.Max(el => el.Id) + 1;
        String measurementDateAndTime = DateTime.Now.ToString("g");
        int packId = int.Parse(stringPackValue);

        DateTime shiftTimeStart = Convert.ToDateTime("07:00:00");

        DateTime shiftTimeEnd = Convert.ToDateTime("19:00:00");

        DateTime currentMeasurement = Convert.ToDateTime(measurementDateAndTime);

        //String timeOfTheDayNow = DateTime.Now.ToString("t");
        int shift = 1;

        if (DateTime.Compare(currentMeasurement, shiftTimeStart) >= 0 && DateTime.Compare(currentMeasurement, shiftTimeEnd) < 0)
        {
            shift = 1;
        }

        if (DateTime.Compare(currentMeasurement, shiftTimeStart) < 0 && DateTime.Compare(currentMeasurement, shiftTimeEnd) >= 0)
        {
            shift = 2;
        }


        if (pshift != shift.ToString())
        {
            shift = int.Parse(pshift);
        }

        IList<Measurement> measurementsToCreate = new List<Measurement>();
        Pack pack = new Pack();
        Machine machine = new Machine();

        machine = await machineRepository.Get(Endpoints.MachinesEndpoint, int.Parse(pmachineIdd));//m achine.Id);
        LoginModel user = new LoginModel();
        user = await authRepo.Get(Endpoints.AspUsersEndpoint, userId);
        pack.DateCreated = DateTime.Parse(measurementDateAndTime);
        pack.Machine = fusMachineName; //machine.Name;
        pack.Shift = shift;
        pack.Author = user.UserName;
        pack.FusCode = stringPackValue;
        pack.MeasurementTypeName = mt.Name;



        pack.DimensionId = 27;

        ///isPackCreated = await packRepo.Create(Endpoints.PacksEndpoint, pack);
        var packToCreate = packRepo.CreateObjectAndReturnId(Endpoints.PacksEndpoint, pack);
        string packStringResult = packToCreate.Result.ToString();

        string firstString = "id";
        string lastString = ",";

        int pos1 = packStringResult.IndexOf(firstString);
        int pos2 = packStringResult.IndexOf(lastString);

        string final = packStringResult.Substring(pos1, pos2 - pos1);

        string[] elements = final.Split(':');
        for (int i = 0; i < sizesArray.GetLength(0); i++)
        {
            Measurement meas = new Measurement();
            meas.DateCreated = DateTime.Parse(measurementDateAndTime);
            meas.Shift = shift;
            meas.UserId = userId;
            meas.MachineName = fusMachineName;
            meas.MeasurementPositionId = int.Parse(measurementPositionId);
            meas.FusPackId = packId;
            meas.MeasurementTypeId = 1012;
            meas.PackId = int.Parse(elements[1]);
            for (int j = 0; j < sizesArray.GetLength(1); j++)
            {


                if (j == 0)
                {
                    meas.Measurement1 = sizesArray[i, j];
                }
                if (j == 1)
                {
                    meas.Measurement2 = sizesArray[i, j];
                }
                if (j == 2)
                {
                    meas.Measurement3 = sizesArray[i, j];
                }
                if (j == 3)
                {
                    meas.Measurement4 = sizesArray[i, j];
                }
                if (j == 4)
                {
                    meas.Measurement5 = sizesArray[i, j];
                }



            }
            measurementsToCreate.Add(meas);

            if (meas.Measurement1 != 0 && meas.Measurement2 != 0 && meas.Measurement3 != 0)
            {

                isSuccess = await measurementRepo.Create(Endpoints.MeasurementEndpoint, meas);

            }
        }


        if (packToCreate != null && isSuccess)
        {
            isPackCreated = true;

            toastService.ShowToast("Mērījuma dati saglabāti", ToastLevel.Success);
            this.navManager.NavigateTo($"/growlong/{userId}/{measurementPositionId}/create");
        }
    }



    bool visibilitystatus = false;
    bool visibilitystatus2 = false;

    private void Reduce(MouseEventArgs e)
    {
        for (int i = 0; i < sizes.Length; i++)
        {

            sizes[i] = sizes[i] - 0.01m;
        }
        if (sizes[0] <= 0.00m)
        {
            visibilitystatus = true;
        }
    }


    private void Add(MouseEventArgs e)
    {

        for (int i = 0; i < sizes.Length; i++)
        {

            sizes[i] = sizes[i] + 0.01m;
        }
        if (sizes[0] > 0.00m)
        {
            visibilitystatus = false;
        }
    }


}
