@page "/growlong/{userId}/{measurementPositionId}/{stringPackValue}/{pmachineIdd}/{fusMachineName}/{pshift}/create/measurementdimensions/length"

@using LKDUS_UI.Models
@using LKDUS_UI.Static
@using LKDUS_UI.Contracts
@using System.Net.Http
@using LKDUS_UI.Service 
@inject IMeasurementRepository repo
@inject NavigationManager navManager
@inject IMeasurementRepository measurementRepo
@inject IMachinesRepository machineRepository
@inject IAuthenticationRepository authRepo
@inject IPacksRepository packRepo
@inject IMeasurementTypeRepository measurementTypeRepository
@inject IJSRuntime JsRuntime
@inject ToastService toastService
<style>
    .button {
        width: 100%;
        height: 100%;
    }

    .btn-success:active {
        color: #ffffff !important;
        background-color: #161617;
        border-color: #494F57;
    }
</style>

<div class="container">

    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" @onclick="@Return" class="btn btn-primary btn-block">Atpakaļ</button>
            </div>
            <div class="col w-25"><h3 class="card-title">Garums</h3></div>
            <div class="col">
                <button type="submit" @onclick="@SaveMeasurement" class="btn btn-primary btn-block">Saglabāt</button>
            </div>

        </div>
    </div>

    <div class="row">



        <div class="col">
            <table class="table table-hover">

                <thead>


                    <tr>

                        <th>Nr.p.k.</th>
                        <th>Labā mala</th>
                        <th>Kreisā puse</th>
                    </tr>

                </thead>
                <tbody>

                    @for (int i = 0; i < positions.GetLength(0); i++)
                    {
                        int local = i;
                        int npk = i + 1;
                        var tmpI = i;
                        <tr>
                            <td>@npk</td>
                            @for (int j = 0; j < positions.GetLength(1); j++)
                            {
                                var tmpJ = j;

                                <td style="background-color:@elements[i, j];" id="@currentElement[i,j]"
                                    @onclick="( e => selectTableCell(tmpI,tmpJ))">
                                    @positions[i, j]
                                </td>


                            }





                        </tr>
                    }


                </tbody>

            </table>
        </div>

        @*<div class="col">
                <table class="table table-hover">

                    <thead>


                        <tr>

                            <th>Nr.p.k.</th>
                            <th>Labā mala</th>
                            <th>Kreisā puse</th>
                        </tr>

                    </thead>
                    <tbody>

                        @for (int i = 10; i < positions.GetLength(0) - 10; i++)
                        {
                            int local = i;
                            int npk = i + 1;
                            var tmpI = i;
                            <tr>
                                <td>@npk</td>
                                @for (int j = 0; j < positions.GetLength(1); j++)
                                {
                                    var tmpJ = j;

                                    <td @onclick="( e => selectTableCell(tmpI,tmpJ))"
                                        style="background-color:@elements[i, j];" id="@currentElement[i,j]">
                                        @positions[i, j]
                                    </td>


                                }





                            </tr>
                        }


                    </tbody>

                </table>
            </div>*@
        @*<div class="col">
                <table class="table table-hover">

                    <thead>


                        <tr>

                            <th>Nr.p.k.</th>
                            <th>1.pl.</th>
                            <th>2.pl.</th>
                        </tr>

                    </thead>
                    <tbody>

                        @for (int i = 20; i < positions.GetLength(0); i++)
                        {
                            int local = i;
                            int npk = i + 1;
                            var tmpI = i;
                            <tr>
                                <td>@npk</td>
                                @for (int j = 0; j < positions.GetLength(1); j++)
                                {
                                    var tmpJ = j;

                                    <td style="background-color:@elements[i, j];" id="@currentElement[i,j]"
                                        @onclick="( e => selectTableCell(tmpI,tmpJ))">
                                        @positions[i, j]
                                    </td>


                                }





                            </tr>
                        }


                    </tbody>

                </table>
            </div>*@



    </div>
    <div class="row w-50  mx-auto" style="padding-top:25px">
        <div class="col  w-20  mx-auto">
            <button type="button" @onclick="(e => SetFlow(0))" style=" background-color:@colorBg1" class="btn btn-success btn-lg btn-block">labā mala</button>
        </div>



        <div class="col w-20  mx-auto">
            <button type="button" @onclick="(e =>SetFlow(1))" style=" background-color:@colorBg2" class="btn btn-success btn-lg btn-block">Kreisā puse</button>
        </div>




    </div>

    <div class="row w-100" style="padding-top:25px">
        <div class="col"><button type="button" @onclick="(()=>select(sizes[0]))" class="btn btn-info btn-lg btn-block">@sizes[0]</button> </div>



        <div class="col">
            <button type="button" @onclick="(()=>select(sizes[1]))" class="btn btn-info btn-lg btn-block">@sizes[1]</button>
        </div>


        <div class="col">
            <button type="button" @onclick="(()=>select(sizes[2]))" class="btn btn-info btn-lg btn-block">@sizes[2]</button>
        </div>



        <div class="col">
            <button type="button" @onclick="(()=>select(sizes[3]))" class="btn btn-info btn-lg btn-block">@sizes[3]</button>
        </div>

        <div class="col">
            <button type="button" @onclick="(()=>select(sizes[4]))" class="btn btn-info btn-lg btn-block">@sizes[4]</button>
        </div>


    </div>

    <div class="row w-100" style="padding-top:25px">
        <div class="col"><button type="button" @onclick="(()=>select(sizes[5]))" class="btn btn-info btn-lg btn-block">@sizes[5]</button> </div>



        <div class="col">
            <button type="button" @onclick="(()=>select(sizes[6]))" class="btn btn-info btn-lg btn-block">@sizes[6]</button>
        </div>


        <div class="col">
            <button type="button" @onclick="(()=>select(sizes[7]))" class="btn btn-info btn-lg btn-block">@sizes[7]</button>
        </div>



        <div class="col">
            <button type="button" @onclick="(()=>select(sizes[8]))" class="btn btn-info btn-lg btn-block">@sizes[8]</button>
        </div>

        <div class="col">
            <button type="button" @onclick="(()=>select(sizes[9]))" class="btn btn-info btn-lg btn-block">@sizes[9]</button>
        </div>


    </div>

    <div class="row w-100" style="padding-top:25px">
        <div class="col"><button type="button" @onclick="(()=>select(sizes[10]))" class="btn btn-info btn-lg btn-block">@sizes[10]</button> </div>



        <div class="col">

        </div>


        <div class="col">

        </div>



        <div class="col">

        </div>

        <div class="col">

        </div>


    </div>














</div>




@code {

    [Parameter]
    public string userId { get; set; }
    [Parameter]
    public string measurementPositionId { get; set; }
    [Parameter]
    public string stringPackValue { get; set; }
    [Parameter]
    public string pmachineIdd { get; set; }
    [Parameter]
    public string fusMachineName { get; set; }
    [Parameter]
    public string pshift { get; set; }
    private IList<Measurement> Model2;


    private string[,] currentElement = new string[30, 2];
    protected async override Task OnInitializedAsync()
    {
        Model2 = await this.repo.Get(Endpoints.MeasurementEndpoint);
        ModelPacks = await this.packRepo.Get(Endpoints.PacksEndpoint);
        for (int i = 0; i < positions.GetLength(0); i++)
        {
            for (int j = 0; j < positions.GetLength(1); j++)
            {
                positions[i, j] = 0;
            }
        }
        for (int i = 0; i < sizes.Length; i++)
        {

            sizes[i] = start;
            start = start + 1;
        }

        for (int i = 0; i < elements.GetLength(0); i++)
        {

            for (int j = 0; j < elements.GetLength(1); j++)
            {
                elements[i, j] = "";
            }
        }
        elements[0, 0] = "red";

        for (int i = 0; i < currentElement.GetLength(0); i++)
        {

            for (int j = 0; j < currentElement.GetLength(1); j++)
            {

                currentElement[i, j] = "current" + i + j;
            }
        }
        activePosition = "current00";
    }


    private int actPos;

    private int[] sizes = new int[10];
    private int start = 1;

    private int selectedCellI = 0;
    private int selectedCellJ = 0;
    private int[] positionValues = new int[3];
    private int positionValue;
    private string activePosition = "";



    private string[,] elements { get; set; } = new string[30, 2];

    int column = 0;

    private void select(int value)
    {
        for (int ii = 0; ii < currentElement.GetLength(0); ii++)
        {
            for (int jj = 0; jj < currentElement.GetLength(1); jj++)
            {
                elements[ii, jj] = "";
            }
        }
        if (isEdit)
        {
            for (int i = 0; i < currentElement.GetLength(0); i++)
            {

                for (int j = 0; j < currentElement.GetLength(1); j++)
                {

                    if (currentElement[i, j] == editPosition)
                    {
                        positions[i, j] = value;
                    }

                }
            }
            isEdit = false;
            for (int i = 0; i < currentElement.GetLength(0); i++)
            {

                //for (int j = 0; j < currentElement.GetLength(1); j++)
                //{ elements[i, column] = "";
                elements[i, column] = "";
                if (positions[i, column] == 0)
                {
                    if (i < currentElement.GetLength(0) - 1)
                    {
                        elements[i, column] = "red";
                    }


                    return;

                }
            }
        }
        else
        {


            //  positionValues[actPos] = value;
            //  positions[selectedCellI, selectedCellJ] = value;

            for (int i = 0; i < currentElement.GetLength(0); i++)
            {

                //for (int j = 0; j < currentElement.GetLength(1); j++)
                //{ elements[i, column] = "";
                elements[i, column] = "";
                if (positions[i, column] == 0)
                {
                    if (i < currentElement.GetLength(0) - 1)
                    {
                        elements[i + 1, column] = "red";
                    }
                    selectedCellI = i;

                    positions[i, column] = value;
                    return;

                }
                else
                {

                }

                /*/ if (currentElement[i, j] == activePosition)
                 {
                     if ((selectedCellI == 29 && selectedCellJ == 1) || (selectedCellI == 29 && selectedCellJ == 0))
                     {
                         break;
                     }
                     else
                     {
                         positions[selectedCellI, selectedCellJ] = value;
                         elements[i, column] = "";
                         i++;
                         selectedCellI = i;
                         selectedCellJ = column;
                         if (selectedCellI == 30 && selectedCellJ == 0)
                         {

                             selectedCellI = 0; selectedCellJ = 1;
                             activePosition = "current" + selectedCellI + column;//selectedCellJ;
                             positions[selectedCellI, selectedCellJ] = value;
                             elements[selectedCellI, selectedCellJ] = "red";
                             break;
                         }
                         else if (selectedCellI < 30 && selectedCellJ < 2)
                         {
                             elements[selectedCellI, selectedCellJ] = "red";
                             activePosition = "current" + i + column;//j;

                             break;// break;
                         }
                     }
                 }*/
                //}
            }
        }
    }

    private ElementReference input1;
    [Inject] IJSRuntime JSRuntime { get; set; }

    private ElementReference input2;
    private ElementReference input3;
    private ElementReference input4;
    private string id1 = "inactive";
    private string id2 = "inactive";
    private string id3 = "inactive";
    private string id4 = "inactive";

    private int[,] positions = new int[10, 2];
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {

        //if (firstRender)
        //{
        //    id1 = "code";
        //    await
        //    JSRuntime.InvokeVoidAsync("exampleJsFunctions.focusElement", input1);
        //}

    }
    int lastRow1;
    int lastRow2;
    string colorBg1;
    string colorBg2;
    private void SetFlow(int i)
    {
        if (i == 0)
        {
            colorBg1 = "greenyellow";
            colorBg2 = "green";

        }
        else if (i == 1)
        {
            colorBg2 = "greenyellow";
            colorBg1 = "green";
        }


        for (int ii = 0; ii < currentElement.GetLength(0); ii++)
        {
            for (int jj = 0; jj < currentElement.GetLength(1); jj++)
            {
                elements[ii, jj] = "";
            }
        }
        column = i;


        for (int k = 0; k < currentElement.GetLength(0); k++)
        {
            for (int j = 0; j < currentElement.GetLength(1); j++)
            {

                if (positions[k, column] == 0)
                {

                    selectedCellI = k;
                    //elements[selectedCellI, selectedCellJ] = "";
                    selectedCellJ = column;
                    activePosition = "current" + selectedCellI + selectedCellJ;//activePosition;
                                                                               //  activePosition = activePosition.Remove(activePosition.Length - 1, 1) + "" + column;
                    elements[selectedCellI, column] = "red";

                    return;
                }
            }
        }


        /* for (int k = 0; k < currentElement.GetLength(0); k++)
         {

             for (int j = 0; j < currentElement.GetLength(1); j++)
             {
                 if (currentElement[k, j] == activePosition)
                 {


                     selectedCellI = k;
                     elements[selectedCellI, selectedCellJ] = "";
                     selectedCellJ = column;



                     string act = activePosition;
                     activePosition = activePosition.Remove(activePosition.Length - 1, 1) + "" + column;
                     elements[selectedCellI, selectedCellJ] = "red";
                     return;
                 }
             }
         }*/

    }
    bool isEdit = false;
    string editPosition = "";
    private void selectTableCell(int ii, int jj)
    {
        isEdit = true;

        for (int i = 0; i < elements.GetLength(0); i++)
        {

            for (int j = 0; j < elements.GetLength(1); j++)
            {
                if (i == ii && j == jj)
                {
                    elements[i, j] = "yellow";
                    editPosition = "current" + i + j;

                }
                else
                {
                    elements[i, j] = "";
                }
            }
            //if (currentElement[i,j] == activePosition)
            //  {
            //      activePosition = "current" + i + j;
            //      elements[i, j] = "red";
            //      break;
            //  }

        }

        selectedCellI = ii;
        selectedCellJ = jj;
    }



    private async void Return(MouseEventArgs e)
    {
        if (isSuccess && isPackCreated)
        {
            this.navManager.NavigateTo($"/growlong/{userId}/{measurementPositionId}/create");
        }
        else
        {

            bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Tiešām vēlies iziet nesaglabājot?");
            if (confirmed)
            {
                this.navManager.NavigateTo($"/growlong/{userId}/{measurementPositionId}/create");
            }
        }
        //   this.navManager.NavigateTo($"/measurementspeeling/{userId}/{measurementPositionId}/create");
    }

    bool isSuccess = false;
    bool isPackCreated = false;
    MeasurementType mt = new MeasurementType();

    private IList<Pack> ModelPacks;
    private async void SaveMeasurement()
    {
        int packId = int.Parse(stringPackValue);
        mt = await measurementTypeRepository.Get(Endpoints.MeasurementTypeEndpoint, 1013);
        String measurementDateAndTime = DateTime.Now.ToString("g");

        DateTime shiftTimeStart = Convert.ToDateTime("07:00:00");

        DateTime shiftTimeEnd = Convert.ToDateTime("19:00:00");

        DateTime currentMeasurement = Convert.ToDateTime(measurementDateAndTime);


        int shift = 1;

        if (DateTime.Compare(currentMeasurement, shiftTimeStart) >= 0 && DateTime.Compare(currentMeasurement, shiftTimeEnd) < 0 )
        {
            shift = 1;
        }

        if (DateTime.Compare(currentMeasurement, shiftTimeStart) < 0 && DateTime.Compare(currentMeasurement, shiftTimeEnd) >= 0)
        {
            shift = 2;
        }
        if (pshift != shift.ToString())
        {
            shift = int.Parse(pshift);
        }
        //var pid = ModelPacks.Max(el => el.Id) + 1;

        IList<Measurement> measurementsToCreate = new List<Measurement>();
        Pack pack = new Pack();
        Machine machine = new Machine();
        // machine = await machineRepository.Get(Endpoints.MachinesEndpoint, int.Parse(pmachineIdd));//m achine.Id);
        LoginModel user = new LoginModel();
        user = await authRepo.Get(Endpoints.AspUsersEndpoint, userId);
        pack.DateCreated = DateTime.Parse(measurementDateAndTime);
        pack.MeasurementTypeName = mt.Name;


        pack.Machine = "Plūsmas";


        pack.Shift = shift;
        pack.Author = user.UserName;

        var packToCreate = packRepo.CreateObjectAndReturnId(Endpoints.PacksEndpoint, pack);
        string packStringResult = packToCreate.Result.ToString();

        string firstString = "id";
        string lastString = ",";

        int pos1 = packStringResult.IndexOf(firstString);
        int pos2 = packStringResult.IndexOf(lastString);

        string final = packStringResult.Substring(pos1, pos2 - pos1);

        string[] elements = final.Split(':');






        //   isPackCreated = await packRepo.Create(Endpoints.PacksEndpoint, pack);
        for (int i = 0; i < positions.GetLength(0); i++)
        {

            Measurement meas = new Measurement();
            meas.DateCreated = DateTime.Parse(measurementDateAndTime);
            // var packId = ModelPacks. Max(el => el.Id) + 1;
            meas.Shift = shift;
            // meas.MachineName = int.Parse(pmachineIdd); //machine.Id;
            meas.UserId = userId;
            meas.MeasurementPositionId = int.Parse(measurementPositionId);
            meas.FusPackId = packId;
            meas.MeasurementTypeId = 1013
                ;
            meas.PackId = int.Parse(elements[1]);

            for (int j = 0; j < positions.GetLength(1); j++)
            {



                if (j == 0)
                {


                    meas.Measurement1 = Convert.ToDecimal(positions[i, j]);
                }
                if (j == 1)
                {

                    meas.Measurement2 = Convert.ToDecimal(positions[i, j]);
                }




            }







            measurementsToCreate.Add(meas);

            isSuccess = await measurementRepo.Create(Endpoints.MeasurementEndpoint, meas);
        }



        if (packToCreate != null && isSuccess)
        {
            isPackCreated = true;
            toastService.ShowToast("Mērījuma dati saglabāti", ToastLevel.Success);
            this.navManager.NavigateTo($"/growlong/{userId}/{measurementPositionId}/create");
        }
    }
}













