@page "/users/"
@attribute [Authorize]

@using LKDUS_UI.Models
@using LKDUS_UI.Static
@using LKDUS_UI.Contracts
@using System.Net.Http
@using Microsoft.Extensions.Logging

@inject IAuthenticationRepository   _repo


<h3>Lietotāji</h3>
<hr />
<br />
@if (Model == null)
{
    <LoadingMessage Message="Ielādē lietotāju sarakstu" />
}
else
{
    @*<AuthorizeView Roles="Administrator">*@
        <a href="/usercreate" class="btn btn-primary">
            <span class="oi oi-plus"></span>
            Izveidot
        </a>
    @*</AuthorizeView>*@

    <br />
    <br />
    <br />
    @if (Model.Count < 1)
    {
        <LoadingMessage Message="Nav neviena lietotāja datu krātuvē. 
                        Uzklikšķini uz 'Izveidot' lai pievienotu"/>
    }
    else
    {
        <table class="table table-responsive">
            <thead>
                <tr>
                    
                    <th>Id.</th>
                    <th>Lietotāja vārds</th>
                    
                    <th>Darbība</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        @*<td>
                            <img src="uploads/@book.Image" class="img-thumbnail" style="height:100px;width:100px" />
                        </td>*@
                        <td>@user.Id</td>
                         
                        <td>@user.UserName</td>
                        @*<td>
                            @if (@book.Author == null)
                            {
                                <span class="text-muted">No Author Recorded</span>
                            }
                            else
                            {
                                <span>@book.Author.Firstname @book.Author.Lastname </span>
                            }
                        </td>*@
                        <td>
                            @*<a href="/books/view/@book.Id" class="btn btn-primary">
                                <span class="oi oi-book"></span>
                            </a>
                            <AuthorizeView Roles="Administrator">*@
                                <a href="/useredit/@user.Id" class="btn btn-warning">
                                    <span class="oi oi-pencil">Rediģēt</span>
                                </a>
                                <a href="/userdelete/@user.Id" class="btn btn-danger">
                                    <span class="oi oi-delete">Dzēst</span>
                                </a>
                            @*</AuthorizeView>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}



@code {
    private IList<LoginModel> Model;

    protected async override Task OnInitializedAsync()
    {
        Model = await _repo.Get(Endpoints.AspUsersEndpoint);
    }
}
