@page "/measurementpositions/{userId}"

@using LKDUS_UI.Models
@using LKDUS_UI.Static
@using LKDUS_UI.Contracts
@using System.Net.Http


@inject IMeasurementPositionsRepository measurementPositionsRepository
@inject NavigationManager navManager

<div class="card">
    <h3 class="card-title">Mērījumu pozīcijas</h3>


    @if (Positions == null)
    {
        <LoadingMessage Message="Notiek mērījumu pozīciju ielāde" />
    }
    else
    {


        <div class="container">

            <div class="container">

                @{

                    {
                        while (j < Positions.Count)
                        {
                            var tmp = j;
                            var tmp2 = j + 1;
                            <div class="row mt-5">
                               
                                <div  class="col"><button id="@tmp" class="btn btn-warning btn-block" @onclick="@(e=> NavigateToMeasurements(e,tmp))">@Positions[j].Name </button></div>

                                @{ 

                                    j++;
                                    tmp = j;
                                    tmp2 = j + 1;
                                    //var tmp2 = j + 1;
                                    // tmp2 = j + 1;
                                 }
                               
                                <div class="col"><button id="@tmp2" class="btn btn-warning btn-block" @onclick="@(e=> NavigateToMeasurements(e,tmp2))">@Positions[j].Name </button></div>

                                <div class="w-100"></div>

                            </div>

                           j++;

                        }


                    }
               }

            </div>
        </div>

    }

</div>


@code {

    [Parameter]
    public string measurementPositionId { get; set; }
    [Parameter]
    public string userId { get; set; }


    int j = 0;

    LoginModel user = new LoginModel();





    private IList<MeasurementPosition> Positions;

    //parame
    private void NavigateToMeasurements(MouseEventArgs a, int i)
    {
        measurementPositionId = i.ToString();
        if (i == 1) {
            this.navManager.NavigateTo($"/measurements/{userId}/{measurementPositionId}");
        }
        else if (i == 2)
        {
            this.navManager.NavigateTo($"/measurementspeeling/{userId}/{measurementPositionId}");
        }
        else if (i == 3)
        {
            this.navManager.NavigateTo($"/measurementspeeling/{userId}/{measurementPositionId}");
        }
        else if (i == 4)
        {
            this.navManager.NavigateTo($"/measurementspeelingknives/{userId}/{measurementPositionId}");
        }
        else if (i == 5)
        {
            this.navManager.NavigateTo($"/measurementspeeling/{userId}/{measurementPositionId}");
        }

        else if (i == 6)
        {
            this.navManager.NavigateTo($"/measurementspeeling/{userId}/{measurementPositionId}");
        }
    }

    protected async override Task OnInitializedAsync()
    {


        Positions = await measurementPositionsRepository.Get(Endpoints.MeasurementPositions); //Model = await _repo.Get(Endpoints.BooksEndpoint);
    }
}
